@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO List Application</h1>
    <p class="lead">Todo List application using Entity Framework.</p>
    <p><a href="http://localhost:27935/TodoList" class="btn btn-primary btn-lg">TODO APP &raquo;</a></p>
</div>

